@import "tailwindcss";



.scrollbar-hide::-webkit-scrollbar{
    display: none;
}

.scrollbar-hide{
    -ms-overflow-style:none;
    scrollbar-width:none;
}
@keyframes snake-border {
  0% {
    border-color: transparent;
    border-top-color: #121214;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  25% {
    border-top-color: #111112;
    border-right-color: #101011;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    border-top-color: #090909;
    border-right-color: #101011;
    border-bottom-color: #090909;
    border-left-color: transparent;
  }
  75% {
    border-top-color: #090909;
    border-right-color: #101011;
    border-bottom-color: #0b0b0b;
    border-left-color: #0a0a0a;
  }
  100% {
    border-color: #0b0b0b;
  }
}

.snake-border {
  border: solid;
  border-width: 2;
  border-color: transparent;
  pointer-events: none;
  border-radius: 0.75rem; /* same as rounded-xl */
  position: absolute;
  inset: 0;
  transition: border-color 0.3s ease;
}

.group:hover .snake-border {
  animation: snake-border 1s linear forwards;
  border-style: solid;
  border-color: #000000;
}



.nav-link {
  @apply flex items-center gap-3 font-medium px-3 py-2 border border-black bg-white shadow-[-5px_5px_0px_#000000] hover:shadow-none hover:-translate-x-2 hover:translate-y-2 transition-all;
}
 